body {
    background: url(../img/bg.jpg) no-repeat;
    background-size:cover;
    font-size: 15px;
}
#box{
    background-color: aliceblue;
    width: 350px;
    margin: 100px auto 0 auto;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow:#ccc 0 0 10px;
}
button{
    width: 20%;
    border: none;
    background-color: dodgerblue;
    color: white;
    font-size: 16px;
    box-sizing: content-box;
    padding: 10px;
    cursor: pointer;
}